.images{
  position: absolute;
  top:60px;
  left:20px;
  height:auto;
  width:255px;
}
.leftimages{
  position: absolute;
  top:55%;
  left:80%;
  height:auto;
  width:255px;

}
.element
{
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.75);
  color: #0080ff;
  font-size: 50px;
}